input.txt
lexical_errors.txt
symbol_table.txt
tokens.txt
test.py
syntax_errors.txt
parse_tree.txt
output.txt
P2_testcases/
.idea/
__pycache__/Parser.cpython-39.pyc
__pycache__/scanner.cpython-39.pyc
spliter.py
/P3_testcases/
generated_files/
just_for_fun/
Fixed_TestCases_3/
semantic_errors.txt
out.txt
err.txt
uploaded_files/
__pycache__
/P4_testcases/